 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/ce4f9092-606e-48d6-a6a8-cad7e0b6e21d.jpg");
  background-position: 50% 50%;
  min-height: 1146px;
}

.u-section-1 .u-group-1 {
  width: 936px;
  min-height: 520px;
  background-image: linear-gradient(#cccbe5, #425465);
  box-shadow: -3px 5px 8px 0 rgba(89,104,77,0.6);
  margin: 177px auto 60px calc(((100% - 1140px) / 2) + 102px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 55px 22px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 52px auto 0 300px;
}

.u-section-1 .u-text-2 {
  margin: 52px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 52px auto 0 354px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 744px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 4px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 632px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 562px;
    margin-top: 75px;
    margin-bottom: 70px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 641px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 560px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 585px;
  }

  .u-section-1 .u-group-1 {
    min-height: 585px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 22044%;
  top: -10972%;
}

@media (max-width: 1199px) {
  .u-section-2 .embed-responsive-1 {
    height: 16711%;
    top: -8306%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-2 .embed-responsive-1 {
    height: 12800%;
    top: -6350%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .embed-responsive-1 {
    height: 9600%;
    top: -4750%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .embed-responsive-1 {
    height: 6044%;
    top: -2972%;
  }
}